* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #18181a;
    font-family: sans-serif;
}

h1 {
    color: #fcfc12;
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
}

h2{
    color: #fff;
    text-align: center;
    height: 5%;
    font-size: 1.75rem;
}

.player-text {
    font-weight: 900;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 500px;
    margin: 0 auto;
    background-color:#27272b;
    padding: 3em;
    text-align: center;
    border-radius: 20px;
    height: 60vh;
    min-height: 650px;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 0.3em;
    margin: 2em auto 3em;
    height: 300px;
    width: 300px;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 15px; 
    
}

.tile {
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    font-family: "Permanent Marker";
}

div.one {
    border-top-left-radius: 10px;
}

div.three {
    border-top-right-radius: 10px;
}

div.seven {
    border-bottom-left-radius: 10px;
}

div.nine {
    border-bottom-right-radius: 10px;
}



button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

button:hover{
    background-color: #fcfc12;
    color: #01112b;
}

#start-game {
    display: inline-block;
}

#reset-game {
    display: none;
}


@media (max-width: 400px) {

    .container {
        width: 100%;
        height: 500px;
        min-height: 0;
        padding: 1.5em;
        margin: 0 auto;
    }

    .board {
        height: 200px;
        width: 200px;
        margin: 1.5em auto 2em;
    }

    .tile {
        font-size: 40px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
