*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #18181a;
    font-family: sans-serif;
}

p,
h1,
h2 {
    margin: 0;
}

h1 {
    color: #fcfc12;
    text-align: center;
    font-size: 3.25rem;
    margin: 0;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em 0;
    padding: 3em;
    width: 75%;
    max-width: 35rem;
    border-radius: 10px;
    background-color:#27272b;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.2em;
    height: fit-content;
    width: 100%;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 15px;
    aspect-ratio: 1;
}


.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #505050;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Permanent Marker";
}

.tile:is(:hover, :focus-within) {
    cursor: pointer;
}

.tile:disabled {
    border: none;
}

.tile-one {
    border-top-left-radius: 10px;
}

.tile-three {
    border-top-right-radius: 10px;
}

.tile-seven {
    border-bottom-left-radius: 10px;
}

.tile-nine {
    border-bottom-right-radius: 10px;
}

#message {
    font-size: 1.75rem;
}

#startGameBtn {
    align-self: center;
    margin-top: auto;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

#startGameBtn:is(:hover, :focus-within) {
    background-color: #fcfc12;
    color: #01112b;
    cursor: pointer;
}

@media (max-width: 25rem) {

    .container {
        width: 90%;
        min-width: 18.5rem;
    }

    .board {
        gap: 0.2em;
        height: 14rem;
        width: 14rem;
    }

    .tile {
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    #startGameBtn {
        font-size: 1rem;
    }
}
